
body {
    font-family: Arial, sans-serif;
    background: url('red.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    max-width: 600px;
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}


h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
}


p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}


a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
